select optgroup {
  color: #55657D;
  font-weight: 400;
  font-size: 12px;
  border: 0;
  font-style: normal;
}
.opt{
  padding-left: 0px;
  font-size: 12px;
}

.description{
  font-size: 20px;
  color: #2D3D54;
  font-weight: 400;
}
